@import "variables";

/deep/ e2-tabs {
  .mat-tab-labels{
    background-color: #fff;
    height: auto;
    flex-direction: column;
    .mat-tab-label{
      height: auto;
      padding: 24px 15px;
      text-align: center;
      font-size: 18px;
      color: #181D24;
      opacity: 1;
      width: 100%;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      position: relative;
      &:not(.mat-tab-label-active)::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-border;
      }
      &.mat-tab-label-active,
      &:hover{
        color: #894ea2;
      }
      &.mat-tab-label-active{
        border-bottom-color: currentColor;
      }
    }
    @media screen and (min-width: map-get($grid-breakpoints, md)){
      flex-direction: row;
      padding-left: 3rem;
      padding-right: 3rem;
      .mat-tab-label{
        width: 33.333%;
        &::before{
          display: none;
        }
      }
    }
  }
  .mat-ink-bar{
    display: none;
  }

  .mat-tab-body-content{
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    color: $color-gray_600;
    @media screen and (min-width: map-get($grid-breakpoints, md)){
      padding: 1.5rem 3rem;      
    }

    p{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}