<div class="b-section">
  <div class="-ol-container -ol-container_xs">
    <div class="b-heading">
      <h1 class="b-heading__title b-heading__title_last">{{'Forgot Password' | translate}}</h1>
    </div>
    <form class="e2-form e2-li e2-log-in-form" [formGroup]="forgotForm">
      <div class="b-login">
        <div class="b-login__form">
          <div class="-ol-row-input -ol-row-input_m_b_xs">
            <div class="-ol-input-wrap">
              <input type="email" class="-ol-input" placeholder="{{'Your email' | translate}}" autocomplete="email" formControlName="userName">
            </div>
          </div>
          <button class="-ol-btn _full_w" (click)="forgot()" [disabled]="forgotForm.invalid">{{'Forgot Password' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<e2-alert [message]="message" (closeAlert)="message = ''" *ngIf="message" [type]="messageType"></e2-alert>