<div class="b-section">
  <div class="-ol-container -ol-container_xxs">

    <div class="b-heading">
      <h1 class="b-heading__title b-heading__title_last">Payment</h1>
    </div>
    <div class="b-payment">
      <div class="b-payment__tabs">
        <div class="b-payment__tab b-payment__tab_active">
          <div class="b-payment__tab-header">
            <div class="b-payment__tab-header-inner">
              <div class="b-payment__tab-header-item">
                <div class="b-form-controller-line b-checklist-admin__text-bind">
                  <div class="b-form-controller-line__item">
                    <div class="-ol-radio">
                      <input type="radio" name="paymentType" id="paymentCreditCard" value="absoluteChange"
                             class="-ol-radio__input">
                      <div class="-ol-radio__trigger"></div>
                    </div>
                  </div>
                  <div
                    class="b-form-controller-line__item b-form-controller-line__item_text b-form-controller-line__item_last">
                    <label for="paymentCreditCard"
                           class="b-form-controller-line__text">Credit Card</label>
                  </div>
                </div>
              </div>
              <div class="b-payment__tab-header-item">
                <div class="b-payment__tab-methods">
                  <div class="b-payment__tab-methods-item">
                    <div class="b-payment__tab-method b-payment__tab-method_visa">
                    </div>
                  </div>
                  <div class="b-payment__tab-methods-item">
                    <div class="b-payment__tab-method b-payment__tab-method_mastercard">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="b-payment__tab-content">
            <form class="-ol-form-body -ol-form-body_last">
              <div class="-ol-row-input">
                <div class="-ol-row">
                  <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-12">
                    <div class="-ol-row-input-mb">
                      <label class="-ol-label">
                        <span class="-ol-label-text">First name</span>
                      </label>
                      <div class="-ol-input-wrap">
                        <input type="text" class="-ol-input">
                      </div>
                    </div>
                  </div>
                  <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-12">
                    <label class="-ol-label">
                      <span class="-ol-label-text">Last name</span>
                    </label>
                    <div class="-ol-input-wrap">
                      <input type="text" class="-ol-input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="-ol-row-input">
                <div class="-ol-row">
                  <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-12">
                    <div class="-ol-row-input-mb">
                      <label class="-ol-label">
                        <span class="-ol-label-text">Credit card number</span>
                      </label>
                      <div class="-ol-input-wrap">
                        <input type="text" class="-ol-input" placeholder="**** **** **** ****">
                      </div>
                    </div>
                  </div>
                  <div class="-ol-col-4 -ol-col-tb-4 -ol-col-mb-6">
                    <label class="-ol-label">
                      <span class="-ol-label-text">Expires</span>
                    </label>
                    <div class="-ol-row">
                      <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-6">
                        <div class="-ol-input-wrap">
                          <input type="text" class="-ol-input">
                        </div>
                      </div>
                      <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-6">
                        <div class="-ol-input-wrap">
                          <input type="text" class="-ol-input">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="-ol-col-2 -ol-col-tb-2 -ol-col-mb-6">
                    <label class="-ol-label">
                      <span class="-ol-label-text">CVV</span>
                    </label>
                    <div class="-ol-input-wrap">
                      <input type="text" class="-ol-input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="-ol-row-input">
                <div class="-ol-row">
                  <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-12">
                    <div class="-ol-row-input-mb">
                      <label class="-ol-label">
                        <span class="-ol-label-text">Address</span>
                      </label>
                      <div class="-ol-input-wrap">
                        <input type="text" class="-ol-input">
                      </div>
                    </div>
                  </div>
                  <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-12">
                    <label class="-ol-label">
                      <span class="-ol-label-text">City</span>
                    </label>
                    <div class="-ol-input-wrap">
                      <input type="text" class="-ol-input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="-ol-row-input -ol-row-input_last">
                <div class="-ol-row">
                  <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-12">
                    <div class="-ol-row-input-mb">
                      <label class="-ol-label">
                        <span class="-ol-label-text">State/Province</span>
                      </label>
                      <div class="-ol-input-wrap">
                        <input type="text" class="-ol-input">
                      </div>
                    </div>
                  </div>
                  <div class="-ol-col-4 -ol-col-tb-4 -ol-col-mb-12">
                    <div class="-ol-row-input-mb">
                      <label class="-ol-label">
                        <span class="-ol-label-text">Country</span>
                      </label>
                      <div class="-ol-input-wrap">
                        <e2-dropdown searchEnabled="true" [control]="control"
                                     [options]="[{value: 0, label: 'test'}, {value: 1, label: 'test test test test test test'}]"></e2-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="-ol-col-2 -ol-col-tb-2 -ol-col-mb-12">
                    <label class="-ol-label">
                      <span class="-ol-label-text">ZIP/Postal</span>
                    </label>
                    <div class="-ol-input-wrap">
                      <input type="text" class="-ol-input">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="b-payment__tab">
          <div class="b-payment__tab-header">
            <div class="l-flex">
              <div class="b-payment__tab-header-inner _full_w">
                <div class="b-payment__tab-header-item">
                  <div class="b-payment__tab-heading b-form-controller-line b-checklist-admin__text-bind">
                    <div class="b-form-controller-line__item">
                      <div class="-ol-radio">
                        <input type="radio" name="paymentType" id="paymentPayPal" value="absoluteChange"
                               class="-ol-radio__input">
                        <div class="-ol-radio__trigger"></div>
                      </div>
                    </div>
                    <div
                      class="b-form-controller-line__item b-form-controller-line__item_text b-form-controller-line__item_last">
                      <label for="paymentPayPal"
                             class="b-form-controller-line__text">Pay Pal</label>
                    </div>
                  </div>
                </div>
                <div class="b-payment__tab-header-item">
                  <div class="b-payment__tab-methods">
                    <div class="b-payment__tab-methods-item">
                      <div class="b-payment__tab-method b-payment__tab-method_paypal">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="b-payment__tab-subheading">You will be redirected to another page to complete your payment.</p>
          </div>
        </div>
      </div>
      <div class="b-payment__bottom">
        <button class="b-payment__btn -ol-btn -ol-btn_w_fix_xxs">Purchase</button>
        <p class="b-payment__bottom-text">By clicking 'Purchase', you are agreeng to our<br><a href="#!"
                                                                                               class="-ol-link">Subscribe
          Terms</a>.</p>
      </div>
    </div>
  </div>
</div>
