<div class="b-hero _bind">
  <div class="-ol-container -ol-container_lg">
    <div class="b-hero__content">
      <div class="b-hero__heading">{{'Expert Relationship Counseling Personalized Using Artificial Intelligence' | translate}}</div>
      <ul class="b-hero__list">
        <li class="b-hero__list-item">
          <p class="b-hero__list-text">{{'Intuitive, Inexpensive, Intelligent' | translate}}</p>
        </li>
        <li class="b-hero__list-item b-hero__list-item_last">
          <p class="b-hero__list-text">{{'Avoid embarrassment, inconvenience awkwardness, cost of human counsellors' | translate}}</p>
        </li>
      </ul>
      <div class="b-hero__options">
        <div class="b-hero__options-item">
          <button class="-ol-btn b-hero__btn">{{'Start the questionnaire' | translate}}</button>
        </div>
        <div class="b-hero__options-item">
          <button class="b-hero__btn-play">
            <span class="b-hero__btn-play-text">{{'Learn how en2uition works' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="b-scroll">
    <div class="b-scroll__inner">
      <div class="b-scroll__text">Scroll</div>
    </div>
  </div>
</div>

<div class="-ol-container -ol-container_lg -ol-container_xs_tb">
  <div class="b-heading-9 b-heading-9_p_t">
    <h2 class="b-heading-9__title" data-scroll>{{'Who is en2uition for?' | translate}}</h2>
  </div>

  <div class="b-section-content-2">
    <div class="b-section-content-2__img" style="background-image: url( assets/images/homepage_768x568px_01.jpg );">
      <div class="b-section-content-2__img-inner"></div>
    </div>
    <div class="b-section-content-2__content">
      <div class="b-section-content-2__content-inner">
        <div class="b-heading-8 b-heading-8_light b-heading-8_last">
          <h2 class="b-heading-8__title">{{'For people currently in a relationship or married:' | translate}}</h2>
          <p class="b-heading-8__text">{{'Understand your past relationships and learn from your mistakes. Answer our questionnaire and we will provide you with an intelligent and in-depth understanding of a past relationship. Understanding the mistakes of the past will help you avoid similar mistakes in the future.' | translate}}</p>
          <p class="b-heading-8__text b-heading-8__text_last"><a href="/sign-up" class="b-heading-8__text_link">{{'Improve your relationship right now.' | translate}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="-ol-container -ol-container_sm">
  <div class="b-section-content b-section-content_reverse">
    <div class="b-section-content__inner">
      <div class="b-section-content__item b-section-content__item_content b-section-content__item_valign">
        <div class="b-section-content__content">
          <div class="b-section-content__content-inner b-section-content__content-inner_w_lg">
            <div class="b-heading-8 b-heading-8_last">
              <h2 class="b-heading-8__title">{{'For single people, not currently:' | translate}}<br>{{'in a relationship:' | translate}}</h2>
              <p class="b-heading-8__text">{{'Understand your past relationships and learn from your mistakes. Answer our questionnaire and we will provide you with an intelligent and in-depth understanding of a past relationship. Understanding the mistakes of the past will help you avoid similar mistakes in the future.' | translate}}</p>
              <p class="b-heading-8__text b-heading-8__text_last"><a href="/sign-up" class="b-heading-8__text_link">{{'Learn from a past relationship right now.' | translate}}</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="b-section-content__item b-section-content__item_img">
        <div class="b-section-content__img" style="background-image: url( assets/images/homepage_640x747_01.jpg );">
          <div class="b-section-content__img-inner"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="_bg_white">
  <div class="-ol-container -ol-container_lg -ol-container_xs_tb">
    <div class="b-heading-9 b-heading-9_p_t">
      <h2 class="b-heading-9__title" data-scroll>{{'How en2uition Analysis is Done' | translate}}</h2>
    </div>

    <div class="b-section-content-2 b-section-content-2_last b-section-content-2_last_not_tb">
      <div class="b-section-content-2__img" style="background-image: url( assets/images/homepage_768x568_02.jpg );">
        <div class="b-section-content-2__img-inner"></div>
      </div>
      <div class="b-section-content-2__content">
        <div class="b-section-content-2__content-inner">
          <div class="b-heading-8 b-heading-8_light b-heading-8_last">
            <p class="b-heading-8__text">{{'Artificial intelligence (AI) algorithms, will analyze and understand your relationship based on how you and your partner participate in it. This participation is based on 24 important relationship areas and also on the triangular theory of love. According to this theory the way an individual participates in a romantic relationship is analyzed along three love-components: passion, intimacy, commitment.' | translate}}</p>
            <p class="b-heading-8__text b-heading-8__text_last"><a href="/how-it-works/assessment-based-on-triangular-theory/introduction" class="b-heading-8__text_link">{{'Explore the triangular theory of love' | translate}}</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="b-heading-9 b-heading-9_p_t _none_tb">
      <h2 class="b-heading-9__title" data-scroll>{{'How can en2uition Help Me?' | translate}}</h2>
    </div>
  </div>

  <div class="-ol-container -ol-container_sm">
    <div class="b-section-content b-section-content_reverse">
      <div class="b-section-content__inner">
        <div class="b-section-content__item b-section-content__item_content b-section-content__item_valign">
          <div class="b-section-content__content">
            <div class="b-heading-9 b-heading-9_m_b_style_2 b-heading-9_p_t_xxxxs _only_flex_tb">
              <h2 class="b-heading-9__title" data-scroll>{{'How can en2uition Help Me?' | translate}}</h2>
            </div>
            <div class="b-section-content__content-inner b-section-content__content-inner_w_lg">
              <ul class="b-list b-list_items_m_b_xxl b-list_last">
                <li class="b-list__item">
                  <p class="b-text b-text_m_b_xxs">{{'Feedback and advice while answering our 360-degree questionnaire will make you look at your relationship and think of it from angles you never thought of before.' | translate}}</p>
                  <p class="b-text b-text_last"><a href="/how-it-works/your-input/our-360-degree-questionnaire" class="b-text_link">{{'Get feedback for every 15 answers you provide' | translate}}</a></p>
                </li>
                <li class="b-list__item">
                  <p class="b-text b-text_m_b_xxs">{{'Expert relationship assessment and advice based on the triangular theory of love will make you understand your and your partner’s relationship participation.' | translate}}</p>
                  <p class="b-text b-text_last"><a href="/how-it-works/assessment-based-on-triangular-theory" class="b-text_link">{{'Assessment Based on the Triangular Theory' | translate}}</a></p>
                </li>
                <li class="b-list__item">
                  <p class="b-text b-text_m_b_xxs">{{'Expert relationship assessment and advice for both you and your partner in 24 important relationship areas will help you understand the current status of your relationship.' | translate}}</p>
                  <p class="b-text b-text_last"><a href="/how-it-works/assessment-on-24-relationship-areas" class="b-text_link">{{'Assessment on 24 important relationship areas' | translate}}</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="b-section-content__item b-section-content__item_img">
          <div class="b-section-content__img" style="background-image: url( assets/images/homepage_640x747_02.jpg );">
            <div class="b-section-content__img-inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-action b-action_last">
  <div class="-ol-container -ol-container_sm_2">
    <div class="b-action__inner">
      <h2 class="b-action__heading">{{'Improve your relationship skills today!' | translate}}</h2>
      <a routerLink="/relationships" class="b-action__btn -ol-btn">{{'Start the questionnaire' | translate}}</a>
    </div>
  </div>
</div>