<form [formGroup]="form" class="p-4">
  <h2 class="text-center mb-3">Change Password</h2>
  <div class="-ol-row-input">
    <div class="-ol-row">
      <div class="-ol-col-12 -ol-col-tb-12 -ol-col-mb-12 mb-4">
        <div class="-ol-row-input-mb">
          <div class="-ol-input-wrap -ol-input-wrap_visible">
            <input [type]="showCurrentPassword ? 'text' : 'password'" class="-ol-input -ol-input_with_visibility_switcher" placeholder="Current password" formControlName="currentPassword">
            <button class="b-btn-visibility b-btn-visibility_input" *ngIf="showCurrentPassword" (click)="showCurrentPassword = !showCurrentPassword"></button>
            <button class="b-btn-hidden b-btn-hidden_input" [style.display]="'inline'" *ngIf="!showCurrentPassword" (click)="showCurrentPassword = !showCurrentPassword"></button>
          </div>
        </div>
      </div>
      <div class="-ol-col-12 -ol-col-tb-12 -ol-col-mb-12 mb-4">
        <div class="-ol-row-input-mb">
          <div class="-ol-input-wrap -ol-input-wrap_visible">
            <input [type]="showNewPassword ? 'text' : 'password'" class="-ol-input -ol-input_with_visibility_switcher" placeholder="New password" formControlName="newPassword">
            <button class="b-btn-visibility b-btn-visibility_input" *ngIf="showNewPassword" (click)="showNewPassword = !showNewPassword"></button>
            <button class="b-btn-hidden b-btn-hidden_input" [style.display]="'inline'" *ngIf="!showNewPassword" (click)="showNewPassword = !showNewPassword"></button>
          </div>
        </div>
      </div>
      <div class="-ol-col-12 -ol-col-tb-12 -ol-col-mb-12 mb-4">
        <div class="-ol-row-input-mb">
          <div class="-ol-input-wrap -ol-input-wrap_visible">
            <input [type]="showConfirmPassword ? 'text' : 'password'" class="-ol-input -ol-input_with_visibility_switcher" placeholder="Confirm new password" formControlName="confirmPassword">
            <button class="b-btn-visibility b-btn-visibility_input" *ngIf="showConfirmPassword" (click)="showConfirmPassword = !showConfirmPassword"></button>
            <button class="b-btn-hidden b-btn-hidden_input" [style.display]="'inline'" *ngIf="!showConfirmPassword" (click)="showConfirmPassword = !showConfirmPassword"></button>
          </div>
        </div>
      </div>
      <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-6">
        <button class="-ol-btn -ol-btn_outline -ol-btn_w_fix_md" (click)="dialogRef.close()">Cancel</button>
      </div>
      <div class="-ol-col-6 -ol-col-tb-6 -ol-col-mb-6">
        <button class="-ol-btn -ol-btn_w_fix_md" (click)="changePassword()">Change</button>
      </div>
    </div>
  </div>
</form>