<div class="b-section b-section_p_b_none">
  <div class="-ol-container -ol-container_sm_2">

    <div class="b-heading">
      <h1 class="b-heading__title b-heading__title_last">Relationship Advices</h1>
    </div>

    <div class="b-tabs">
      <div class="b-tabs__options _none_tb">
        <div class="b-tabs__options-item">
          <button class="b-tabs__option b-tabs__option_active">
            <span class="b-tabs__text">Level 1</span>
          </button>
        </div>
        <div class="b-tabs__options-item">
          <button class="b-tabs__option">
            <span class="b-tabs__text">Level 2</span>
          </button>
        </div>
        <div class="b-tabs__options-item">
          <button class="b-tabs__option">
            <span class="b-tabs__text">Level 3</span>
          </button>
        </div>
        <div class="b-tabs__options-item">
          <button class="b-tabs__option">
            <span class="b-tabs__text">Level 4</span>
          </button>
        </div>
        <div class="b-tabs__options-item">
          <button class="b-tabs__option">
            <span class="b-tabs__text">Level 5</span>
          </button>
        </div>
        <div class="b-tabs__options-item">
          <button class="b-tabs__option">
            <span class="b-tabs__text">Level 6</span>
          </button>
        </div>
      </div>
      <div class="b-tabs__selector-tb b-tabs__selector-tb_opened">
        <div class="b-tabs__selector-tb-inner">
          <div class="b-tabs__selector-tb-inner-2">
            <p class="b-tabs__selector-tb-text">Choose Level</p>
          </div>
        </div>
        <div class="b-tabs__options-tb">
          <div class="b-tabs__options-tb-item">
            <button class="b-tabs__option-tb b-tabs__option-tb_active">
              <span class="b-tabs__text-tb">Level 1</span>
            </button>
          </div>
          <div class="b-tabs__options-tb-item">
            <button class="b-tabs__option-tb">
              <span class="b-tabs__text-tb">Level 2</span>
            </button>
          </div>
          <div class="b-tabs__options-tb-item">
            <button class="b-tabs__option-tb">
              <span class="b-tabs__text-tb">Level 3</span>
            </button>
          </div>
          <div class="b-tabs__options-tb-item">
            <button class="b-tabs__option-tb">
              <span class="b-tabs__text-tb">Level 4</span>
            </button>
          </div>
          <div class="b-tabs__options-tb-item">
            <button class="b-tabs__option-tb">
              <span class="b-tabs__text-tb">Level 5</span>
            </button>
          </div>
          <div class="b-tabs__options-tb-item">
            <button class="b-tabs__option-tb">
              <span class="b-tabs__text-tb">Level 6</span>
            </button>
          </div>
        </div>
      </div>

      <e2-accordion class="b-accordion_inside">
        <e2-accordion-item header="We will identify and summarize your relationship problem">
          Questions 1-15:  Did the relationship start with unfavorable initial conditions? (such as differences in age, sexual orientation, marital status, education, career, financial status, accommodation, geographical location)

          Based on your answers,  we concluded that your relationship started with very promising initial conditions. Taking into account the simularities in age, sexual orientation, finsncisl status, education, accomodation and geographic location, we think that your relationship had a good start.

          However,  consectetur adipiscing elit. Nunc eu lacus eget justo tincidunt dignissim. Curabitur eget aliquet augue, ut cursus neque. Praesent scelerisque dignissim nibh, eget tincidunt arcu sodales vel. Praesent tincidunt vehicula ipsum, at finibus neque maximus id.

          Quisque ultrices facilisis dui. Integer feugiat dictum tincidunt. Vestibulum blandit ex lacus, hendrerit egestas odio blandit ac. Vivamus finibus tincidunt nunc, ut pellentesque mi. Aenean pretium nibh ex, at molestie erat euismod et. In tincidunt at lorem in luctus. Sed ac justo mi.
          <p class="b-accordion__text">Quisque sit amet mollis velit. Donec eleifend magna orci, vitae lacinia felis egestas sit amet. Duis aliquet ac quam quis facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit erat vitae dolor hendrerit iaculis. Fusce euismod ut libero vel fermentum. Duis venenatis dapibus neque, et dignissim dolor pharetra vitae.</p>
          <p class="b-accordion__text">Nam sed mi vitae ligula sagittis ultricies. In quis pretium turpis, at molestie nibh. Pellentesque in metus in elit vulputate pretium. Morbi sollicitudin consectetur orci vitae auctor. Vestibulum ipsum elit, tincidunt quis elit vitae, placerat accumsan enim. Suspendisse feugiat interdum lorem et pulvinar. Praesent pharetra convallis augue et placerat. Fusce suscipit in diam quis rutrum.</p>
          <p class="b-accordion__text">Quisque at tincidunt velit, ultricies pulvinar lorem. Vivamus vel imperdiet neque, ac tempor mi. Aliquam bibendum mattis massa, sed fringilla nunc sodales ac. Donec vestibulum in nibh sit amet porta. Proin condimentum ornare lacinia. Ut non viverra turpis.</p>
        </e2-accordion-item>
        <e2-accordion-item header="We will discuss how easy it will be to solve the problem">
          Questions 16-31 Was the relationship obstructed by differences in beliefs (such as political, religious, family beliefs), or by bad habits (such as shopping, video game addictions) or physical and emotional conditions or disabilities)?
          <p class="b-accordion__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </e2-accordion-item>
        <e2-accordion-item header="We will give advice about how to improve your relationship">

          Questions 32-47   First impressions on physical, sexual, social compatibilities? (such as first impression on physical appearance, early  sexual encounters, acceptance by friends and family and making the relationship official)
          <p class="b-accordion__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </e2-accordion-item>
        <e2-accordion-item header="What to expect from following our suggestions and advice">
          Questions 48-60   Did the first 4 months provide a strong foundation for the relationship?  (such as communication, sexual intercourse, sharing thoughts and secrets, meeting friends and family, early disagreements and fights)

          <p class="b-accordion__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </e2-accordion-item>
      </e2-accordion>
    </div>

    <div class="b-loading">
      <div class="b-loading__icon"></div>
    </div>

    <div class="b-info-sharing">
      <div class="b-info-sharing__inner">
        <a href="#!" class="b-info-sharing__link">Sharing Settings</a>
        <p class="b-info-sharing__info">shared with three people</p>
      </div>
    </div>
  </div>

  <div class="b-nav-pages-order b-nav-pages-order">
    <div class="-ol-container -ol-container_sm_2">
      <div class="b-nav-pages-order__inner">
        <a routerLink="/how-it-works" class="b-nav-pages-order__section">
          <div class="b-nav-pages-order__item">
            <div class="b-nav-pages-order__title">
              <span class="_none_mb _letter_spacing_inherit">
                <span
                class="b-nav-pages-order__title_highlight">Your Relationship<br>Advice</span>
              </span>
              <span class="_only_mb _letter_spacing_inherit">Prev</span>
            </div>
          </div>
        </a>
        <a routerLink="/how-it-works/our-method/use-of-ai" class="b-nav-pages-order__section">
          <div class="b-nav-pages-order__item">
            <div class="b-nav-pages-order__title">
            <span class="_none_mb _letter_spacing_inherit">
              <span class="b-nav-pages-order__title_highlight">Your Assessment Based on<br>24 Relationship Areas</span>
            </span>
            <span class="_only_mb _letter_spacing_inherit">Next</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>