<div class="b-section">
  <div class="-ol-container -ol-container_xs">
    <div class="b-heading">
      <h1 class="b-heading__title b-heading__title_last">{{'Reset Password' | translate}}</h1>
    </div>
    <form class="e2-form e2-li e2-log-in-form" [formGroup]="resetForm">
      <div class="b-login">
        <div class="b-login__form">
          <div class="-ol-row-input -ol-row-input_m_b_xs">
            <div class="-ol-input-wrap -ol-input-wrap_visible">
              <input [type]="showNewPassword ? 'text' : 'password'" placeholder="{{'New password' | translate}}" class="-ol-input -ol-input_with_visibility_switcher" autocomplete="current-password" formControlName="newPassword">
              <button class="b-btn-visibility b-btn-visibility_input" *ngIf="showNewPassword" (click)="showNewPassword = !showNewPassword"></button>
              <button class="b-btn-hidden b-btn-hidden_input" [style.display]="'inline'" *ngIf="!showNewPassword" (click)="showNewPassword = !showNewPassword"></button>
            </div>
          </div>
          <div class="-ol-row-input -ol-row-input_m_b_xs">
            <div class="-ol-input-wrap -ol-input-wrap_visible">
              <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="{{'Confirm password' | translate}}" class="-ol-input -ol-input_with_visibility_switcher" autocomplete="current-password" formControlName="confirmPassword">
              <button class="b-btn-visibility b-btn-visibility_input" *ngIf="showConfirmPassword" (click)="showConfirmPassword = !showConfirmPassword"></button>
              <button class="b-btn-hidden b-btn-hidden_input" [style.display]="'inline'" *ngIf="!showConfirmPassword" (click)="showConfirmPassword = !showConfirmPassword"></button>
            </div>
          </div>
          <button class="-ol-btn _full_w" (click)="reset()" [disabled]="resetForm.invalid">{{'Reset Password' | translate}}</button>
        </div>
        <p class="b-login__recovery"><a class="-ol-link" routerLink="/log-in">{{'Log In' | translate}}</a></p>
      </div>
    </form>
  </div>
</div>

<e2-alert [message]="message" (closeAlert)="message = ''" *ngIf="message" [type]="messageType"></e2-alert>
