
<div class="b-section">
  <div class="-ol-container -ol-container_sm_2">

    <div class="b-heading">
      <h1 class="b-heading__title b-heading__title_last">Advice Based on the Triangular Theory of Love</h1>
    </div>

    <e2-accordion class="b-accordion_m_b_lg">
      <e2-accordion-item header="We will identify and summarize your relationship problem">
        <p class="b-accordion__text">Quisque sit amet mollis velit. Donec eleifend magna orci, vitae lacinia felis egestas sit amet. Duis aliquet ac quam quis facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit erat vitae dolor hendrerit iaculis. Fusce euismod ut libero vel fermentum. Duis venenatis dapibus neque, et dignissim dolor pharetra vitae.</p>
        <p class="b-accordion__text">Nam sed mi vitae ligula sagittis ultricies. In quis pretium turpis, at molestie nibh. Pellentesque in metus in elit vulputate pretium. Morbi sollicitudin consectetur orci vitae auctor. Vestibulum ipsum elit, tincidunt quis elit vitae, placerat accumsan enim. Suspendisse feugiat interdum lorem et pulvinar. Praesent pharetra convallis augue et placerat. Fusce suscipit in diam quis rutrum.</p>
        <p class="b-accordion__text">Quisque at tincidunt velit, ultricies pulvinar lorem. Vivamus vel imperdiet neque, ac tempor mi. Aliquam bibendum mattis massa, sed fringilla nunc sodales ac. Donec vestibulum in nibh sit amet porta. Proin condimentum ornare lacinia. Ut non viverra turpis.</p>
      </e2-accordion-item>
      <e2-accordion-item header="We will discuss how easy it will be to solve the problem">
        <p class="b-accordion__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </e2-accordion-item>
      <e2-accordion-item header="We will give advice about how to improve your relationship">
        <p class="b-accordion__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </e2-accordion-item>
      <e2-accordion-item header="What to expect from following our suggestions and advice">
        <p class="b-accordion__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </e2-accordion-item>
      <e2-accordion-item header="Further articles for reading about several relationship topics">
        <p class="b-accordion__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </e2-accordion-item>
    </e2-accordion>

    <div class="b-info-sharing">
      <div class="b-info-sharing__inner">
        <a href="#!" class="b-info-sharing__link">Sharing Settings</a>
        <p class="b-info-sharing__info">shared with three people</p>
      </div>
    </div>
  </div>

  <div class="b-nav-pages-order">
    <div class="-ol-container -ol-container_sm_2">
      <div class="b-nav-pages-order__inner">
        <a routerLink="/how-it-works" class="b-nav-pages-order__section">
          <div class="b-nav-pages-order__item">
            <div class="b-nav-pages-order__title">
              <span class="_none_mb _letter_spacing_inherit">
                <span class="b-nav-pages-order__title_highlight">Your assessment based on 24<br>relationship areas</span>
              </span>
              <span
              class="_only_mb _letter_spacing_inherit">Prev</span>
          </div>
        </div>
        </a>
        <a routerLink="/how-it-works/our-method/use-of-ai" class="b-nav-pages-order__section">
          <div class="b-nav-pages-order__item">
            <div class="b-nav-pages-order__title">
              <span class="_none_mb _letter_spacing_inherit">
                <span class="b-nav-pages-order__title_highlight">Your assessment based on the<br>Triangular theory of love</span>
              </span>
              <span
              class="_only_mb _letter_spacing_inherit">Next</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>