<ng-template #learnSection>
  <e2-accordion class="b-accordion_last">
    <e2-accordion-item header="{{'Is the en2uition relationship-counseling really a couples therapy?' | translate}}">
      <p class="b-accordion__text">{{'The en2uition counseling is a type of couples therapy in the sense that we help people in romantic relationships get a better understanding of their relationships. Through that understanding we give themdirections about how to resolve a variety of problems their relationships may have.' | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'How is en2uition counseling different from traditional couples therapy?' | translate}}">
      <p class="b-accordion__text">{{'In en2uition you will not interact with any human therapist in any way. The en2uition process is for individuals that want to take the counseling matter in their own hands: follow their own pace, privately and inexpensively, without sacrificing counseling (assessment and advice) quality.' | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Is there a time frame over which I have to complete this counseling?' | translate}}">
      <p class="b-accordion__text">{{'No, you can follow your own pace any time you want at the comfort of your own home and privacy. Unlike traditional counseling sessions, there is no time-frame, there is no number of sessions you have to complete and there is no charge per session, this is a one-piece solution.' | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Is en2uition for everybody: young or old, straight or gay, single or married?' | translate}}">
      <p class="b-accordion__text">{{"Yes, you can use the en2uition relationship-counseling tool whether you are in a heterosexual or homosexual relationship, independently of your age and independently of your marital status (because you have the option to analyze a past relationship and learn from it)." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What benefits do I get and how fast should I expect to see those benefits?' | translate}}">
      <p class="b-accordion__text">{{'The ultimate target of en2uition is to make you THINK about your relationship and each one of the factors that may be impacting it. The speed at which you can get benefits depends totally on you and how fast you will go over the assessment and advice we will provide.' | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Is it required that my partner participates during the en2uition counseling?' | translate}}">
      <p class="b-accordion__text">{{"Your partner is not required to participate in this counseling process. However, you will be asked questions about your partner and you will also get assessment about your partner. Therefore, there is a lot of room for your partner not only to participate but also to benefit from the process." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Do I have to directly interact with any human counselors in any sort of ways?' | translate}}">
      <p class="b-accordion__text">{{"Not at all. In the en2uition process we have removed the human counselor. The way you will get help is by having artificial intelligence algorithms understand the details of your relationship and based on that provide you with intelligent assessment and advice." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'How is artificial intelligence used in providing me with assessment and advice?' | translate}}">
      <p class="b-accordion__text">{{"Artificial intelligence algorithms will act just as a human counselor listening to and processing youranswers. Based on that these algorithms will understand how you and your partner participate in the relationship and therefore they will extract and deliver the right counseling text to you." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What are the advantages of using artificial intelligence to understand relationships?' | translate}}">
      <p class="b-accordion__text">{{"The intelligence of ‘artificial intelligence’ really relies on the amount of data we will be gathering. The more data we collect and analyze the more intelligent the en2uition machine becomes. Eventually our algorithms will become way more intelligent than the best human counselors." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What is the en2uition scientific methodology based on?' | translate}}">
      <p class="b-accordion__text">{{"The main theory the en2uition assessment is based on is the triangular theory of love by the American psychologist and psychometrician Robert J. Sternberg (professor at Cornell university). The en2uition feedback and advice is based on numerous psychology published research." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Who researched, analyzed and wrote the counseling text?' | translate}}">
      <p class="b-accordion__text">{{"The human counselors that researched and prepared the huge pool of the en2uition counseling material have 15-40 years of counseling experience each. Their level of expertise does not only lie in counseling but also in writing, that was crucial at delivering our counseling feedback and advice." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What types of feedback, assessment and advice will I get?' | translate}}">
      <p class="b-accordion__text">{{"You will receive feedback for every 15 answers you provide while answering the questionnaire. There are 4 feedback topics for each one of the 6 levels. After completing all 6 levels, you will receive assessment and advice based on the triangular theory as well as on 24 relationship areas." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What are the ‘Feedback Topics’ that I receive in each level?' | translate}}">
      <p class="b-accordion__text">{{"There are 4 Feedback Topics in each level. You will receive a feedback on a topic after you answer the 15 questions corresponding to that topic. This feedback is based on analyzing the gap between the answers you provide about yourself versus those you provide about your partner." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What is the ‘assessment based on triangular theory of love’?' | translate}}">
      <p class="b-accordion__text">{{"This assessment starts with 6 scores about your and your partner’s passion, intimacy and commitment. Based on these scores you will receive a relationship profile (describing connection, power balance and breakability) as well as advice about how to strengthen your relationship." | translate}}</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What is the ‘assessment based on the 24 relationship areas’?' | translate}}">
      <p class="b-accordion__text">{{"This assessment analyzes the weaknesses and strengths you and your partner have on 24 important relationship areas. Depending on the score combination (your and your partner’s), we will provide you with feedback on those 24 relationship areas and advice on how to improve each area." | translate}}</p>
    </e2-accordion-item>
  </e2-accordion>
</ng-template>

<ng-template #questionnaireSection>
  <e2-accordion class="b-accordion_last">
    <e2-accordion-item header="{{'How long is the questionnaire and how was it prepared?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Why are there 6 levels and what do I get from each level?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Approximately how long does it take to answer each level?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Do I have to answer all questions before getting any feedback?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What if there are any questions I do not know the answers for?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Can I stop the process while answering and return at a later time?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Why are there so many questions at such a deep, personal level?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Should I ask my partner to provide any answers about themselves?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Why do you ask questions about different stages of the relationship?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'What are the benefits of analyzing one of my past relationships?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Do you ask the same questions for past and current relationships?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'In addition to getting advice, how else can you use the questionnaire?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
  </e2-accordion>
</ng-template>

<ng-template #privacySection>
  <e2-accordion class="b-accordion_last">
    <e2-accordion-item header="{{'Are the answers I provide shared with any third parties for any purpose?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'How is en2uition making sure that my personal information stays private?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Who has access/rights to view your private data on the en2uition databases?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'How is all the data collected by en2uition used for analyzing relationships?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Apart from analyzing relationships does en2uition use my data in other ways?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Apart from the answers you provide, does en2uition collect other (meta)data?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Can I share my answers, assessment and advice with a friend or my counselor?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'If I delete my relationship profile are my answers deleted from your database?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Is there a mechanism / possibility to destroy personal information upon request?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Does en2uition have a way to monitor and detect security incidents continuously?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Does en2uition have incident management procedures to handle security breaches?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
    <e2-accordion-item header="{{'Does en2uition have a notification policy to notify users in case of a security breach?' | translate}}">
      <p class="b-accordion__text">The main purpose of en2uition is to provide people that are already in romantic relationships with feedback and prediction about their current relationship. Another important purpose is to provide people with feedback and food for thought about an important relationship they had in the past: what really happened and what went wrong.</p>
    </e2-accordion-item>
  </e2-accordion>
</ng-template>

<div class="b-section">
  <div class="-ol-container -ol-container_xs">

    <div class="b-heading">
      <h1 class="b-heading__title">{{'FAQ' | translate}}</h1>
      <p class="b-heading__subtitle">{{'Check out the categories below for answers to some of our most common support questions' | translate}}</p>
    </div>

    <div class="b-tabs-box">
      <div class="b-tabs-box__item" *ngFor="let section of sections">
        <div class="b-tabs-box__box" (click)="activeSection = section"
             [class.b-tabs-box__box_active]="activeSection === section">
          <p class="b-tabs-box__text">{{section.header | translate}}</p>
        </div>
        <div class="_only_mb" *ngIf="activeSection === section">
          <ng-container *ngTemplateOutlet="section.template"></ng-container>
        </div>
      </div>
    </div>
    <div class="b-accordion_m_b_lg _none_mb" *ngIf="activeSection">
      <ng-container *ngTemplateOutlet="activeSection.template"></ng-container>
    </div>
  </div>
</div>
